<button id="toggleGuide" class="toggle-guide">Tutorial & Simulation</button>
<div id="guide" class="guide-content hidden">
    <h4>Quick Guide:</h4>
    <ul>
        <li>Copy and paste your database schema.</li>
        <li>Use "PK" in the Nullable field to indicate Primary Keys. If no "PK" is stated, default
            PK would be field[0].</li>
        <li>You can have multiple primary keys.</li>
        <li>Fill in the Data Input with your values.</li>
        <li>Click buttons below to simulate the query generation.</li>
    </ul>
    <div class="button-group simulate-buttons">
        <button id="simulationFillSchemaButton" class="simulate-button">1. Fill Schema</button>
        <p>&rarr;</p>
        <button id="simulationFillDataButton" class="simulate-button">2. Fill Data</button>
        <p>&rarr;</p>
        <button id="simulationGenerateQueryButton" class="simulate-button">3. Generate
            Query</button>
    </div>
</div>