.CodeMirror {
  height: auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.error-line {
  background-color: #ffecec;
}

#validationResult {
  margin-top: 10px;
}

#jsonEditor {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 10px;
}

.json-error-highlight {
  background-color: #ffcdd2;
}

.json-error-line-highlight {
  background-color: rgba(255, 0, 0, 0.1);
}

.error-marker {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}
